<h2 mat-dialog-title>Update</h2>

<mat-dialog-content>
  <form #taskForm="ngForm" novalidate>
    <div class="form-group">
      <label for="usr"><span class="glyphicon glyphicon glyphicon-tasks"></span> Task :</label>
      <input type="text" [class.is-invalid]="name.invalid && name.touched" class="form-control" #name="ngModel" name="name" [(ngModel)]="data.tasks" required>
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Task name is required</small>
    </div>
    <div class="form-group">
      <label for="pwd"><span class="glyphicon glyphicon-list-alt"></span> Description :</label>
      <textarea [class.is-invalid]="description.invalid && description.touched" class="form-control" #description="ngModel" name="task" [(ngModel)]="data.description" required></textarea>
      <small class="text-danger" [class.d-none]="description.valid || description.untouched">Please give some description</small>
    </div>
    <div class="radio">
      <label class="radio-inline"><input type="radio" name="type" checked value="Today" [(ngModel)]="data.type">Today's</label>
      <label class="radio-inline"><input type="radio" name="type" value="Monthly" [(ngModel)]="data.type">Monthly</label>
    </div>
    <div class="radio">
      <label class="radio-inline"><input type="radio" name="status" checked value="Not Completed" [(ngModel)]="data.status">Not Completed</label>
      <label class="radio-inline"><input type="radio" name="status" value="Completed" [(ngModel)]="data.status">Completed</label>
    </div>
    <mat-dialog-actions>
      <button class="mat-raised-button btn btn-danger" (click)="close()">Close</button>
      <button [disabled]="taskForm.form.invalid" type="submit" (click)="update()" class="mat-raised-button btn btn-info">Update</button>
  </mat-dialog-actions>
  </form>
</mat-dialog-content>